.box{
  margin: 10px 10px;
}
.side-nav{
  margin: 15px;
  padding-left: 150px;
  border-style: dashed;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: fit-content;
  margin-left: 300px;
  border-radius: 10px;
}
.Inbox{
  margin: 50px;
  padding-left: 400px;
  align-items: center;
}
#main{
  margin: 150px;
  margin-left: 250px;
  border: 2px solid black;
  background-color: rgb(241, 232, 224);
  border-radius: 25px;
  
}
.header{
  padding-left: 450px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 50px;
}
.main-section{
  padding-left: 25px;
}
.inbox{
  border: 2px solid burlywood;
  width: fit-content;
  padding-left: 72px;
  padding-top: 2px;
  padding-right: 72px;
  padding-bottom: 2px;
  border-radius: 4px;
}
.today{
  border: 2px solid burlywood;
  width: fit-content;
  padding-left: 72px;
  padding-top: 2px;
  padding-right: 72px;
  padding-bottom: 2px;
  border-radius: 4px;
}
.next{
  border: 2px solid burlywood;
  width: fit-content;
  padding-left: 50px;
  padding-top: 2px;
  padding-right: 50px;
  padding-bottom: 2px;
  border-radius: 4px;
}
li {
  list-style-type: none;
}
.pic{
  height: 400px;
  width: 400px;
  padding-left: 350px;
}